<!DOCTYPE html>
<html ng-app="HejHejApp">
<head>
  <meta charset="utf-8">
  <title>Hej Hej</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/users_controller.js"></script>
</head>
<body>
  <div class="wrapper">
    <div ng-><h1>Hej!*</h1>
      <h2>Vill du <a href="/card">spela?</a></h2>
      <p>*Hej Hej is a fun, simple full-stack Javascript app for studying Swedish vocabulary and grammar.</p>
    </div>
  </div>

  <script src="/javascripts/main.js"></script>
</body>
</html>