<!DOCTYPE html>
<html ng-app="HejHejApp">
<head>
  <meta charset="UTF-8">
  <title>Hej Hej</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/login_controller.js"></script>
</head>
<body>

  <div class="wrapper">
    <h1>Hej*</h1>
    <h2>Vill du spela?</h2>
    <h4 id="intro">* Hej Hej is a fun, simple web app to help you practice Swedish vocabulary and grammar</h4>
  </div>

</body>
</html>
